@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


* {
    /* border: 2px solid red; */
    font-family: 'Rubik', 'sans', 'verdana';
    background-color: #f4f1de;
    
}

div.containerhead{
    text-align:center;
}

.header, 
.header2, .header3 {
    font-weight: 700;
    font-size: large;
    font-size: 32px;
    text-align: center;
    color: #3D405B;

}

.header2 {
    
    font-size: 22px;

}

.header3 {
    
    font-size: 18px;

}

img{
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.ulist .olist .recipelist{
    color: #E07A5F;
    font-size: 16px;
    padding: 10px
    }
    


.ulist li {
    color: #3D405B;
    text-align: left;
    margin-left: 3rem;
    padding-left: 1rem;
    
}

.recipelist li  {
    display: inline-block;
    color: #E07A5F;
    margin: 1rem,1rem,1rem,1rem;
    padding: 3rem;
       
}

.recipelist a{
    color: #E07A5F;
    text-decoration: none;
}

.recipelist{
    padding-inline: 10px;
}

.ulist a{
    color: #E07A5F;
    text-decoration: none;
}

a:hover {
    color: #81B29A;
    text-decoration: underline;
  }

.description {
    font-size: 16px;      
    font-weight: bold;   
    text-align: center;
    color: #E07A5F;
  }

.olist li {
    color: #3D405B;
    text-align: left;
    margin-left: 3rem;
    padding-left: 1rem;
    
}

.olist a{
    color: #E07A5F;
    text-decoration: none;
}
 li{
    padding-top: 0.3em;
 }

